<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="h-screen w-screen box-border bg-gray-900 flex flex-col items-center text-white">
    <div class="flex flex-col items-center gap-5">
        <!-- Logo Section -->
        <div class="mt-10">
            <img src="" alt="Logo" class="h-[15vh] contrast-0">
        </div>

        <!-- Text Section -->
        <div class="flex flex-col items-center mt-10 text-4xl">
            <h2>Millions of songs.</h2>
            <h2>Free on Spotify</h2>
        </div>

        <!-- Buttons Section -->
        <div class="flex flex-col items-center gap-8 mt-20">
            <button class="h-10 w-52 rounded-full bg-green-500 text-center font-bold"><a href="/signup">Sign up for free</a></button>
            <a href="/login"
                class="h-10 w-52 rounded-full bg-gray-300 text-center flex items-center justify-center font-bold text-black hover:bg-gray-400">
                Log in
            </a>
        </div>
    </div>
</body>

</html>
